.page[b-6spae10eyg] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header[b-6spae10eyg] {
  position: sticky;
  top: 0;
  z-index: 10;
}

.layout-main[b-6spae10eyg] {
  flex: 1;
  padding: 0;
}
