<nav class="navbar navbar-dark nav-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Star Wars</a>

        <div class="nav-links">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>

            <NavLink class="nav-link" href="explore">
                Explore
            </NavLink>
        </div>
    </div>
</nav>